block content
    form(method='POST' action='/new')
        fieldset()
            label(for='message') message
                input(id='messge', type='text', name='message')
        fieldset()
            label(for='name') name
                input(id='name', type='text', name='name')
        input(type='submit',value='Post')
